<header>
    <h1> {{title}}</h1>
    
    <a href="/" {{active page 'home'}}>Weather</a>
    <a href="/about" {{active page 'about'}}>About</a>
    <a href="/help" {{active page 'help'}}>Help</a>
</header>